[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
common = { path = "../common" }
tonic = "0.12"
tokio = { version = "1.42", features = ["full"] }
tracing = "0.1"
anyhow = "1.0"
